J-Edsby.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
CJTuples.iml
*.class
CJTuples.xml
gson_2_6_2.xml
scala_compiler.xml
